@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Get to know Joel</h4>

<br><br>

<div>
    <p>Visit his website <a href="https://baconsale.com/">here</a></p>
    <p>Go visit him at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
    <br />
    <!-- Image wrapped with an anchor tag -->
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" />
    </a>
</div>