@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img src="~/img/joelhiltonheadshot.jpg" />
    <br /><br />
    <p>Want to know more about Joel? Click <a asp-controller="Home" asp-action="aboutJoel">here</a> for more!</p>
</div>
